<p id="notice"><%= notice %></p>

<h1><%= @party.name %> (<%= @party.abbreviation %>)</h1>

<% candidates = Candidate.where(:party_id=>@party.id) %>
<% if candidates.count >= 1 %>
	<p><%= pluralize candidates.count, 'candidate' %> running:</p>
	<ul>
		<% candidates.each do |candidate| %>
			<li><%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate %></li>
		<% end %>
	</ul>
<% else %>
	<p>No candidates are running under the <% @party.name %> ticket. <%= link_to 'Add one?', new_candidate_path %></p>
<% end %>
<%= link_to "Edit #{@party.name}", edit_party_path(@party) %> |
<%= link_to 'All Parties', parties_path %>
