<style type="text/css">
  th {padding: 2px; font-size: 10px; font-weight:bold; color:#fff;background:#000;}  
  td {padding: 10px; font-size: 14px; font-weight:bold; color:#000;}
  td .acts {font-size: 10px; font-weight:normal;}
  td .acts a {padding-left: 8px;}
</style>

<h1>Listing candidates</h1>

<table class="heading">
  <tr>
    <th class="t_name">Name</th>
    <th class="t_party">Party</th>
    <th>Vote</th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td>
      <%= link_to candidate.first_name << " " << candidate.last_name, candidate %>
      <div class="acts">
        <%= link_to 'Edit', edit_candidate_path(candidate) %>
        <%= link_to 'Destroy', candidate, confirm: 'Are you sure?', method: :delete %>
      </div>
    </td>
    <td><%= candidate.party.name %></td>
    <td><%= link_to 'Vote for me!', :controller => 'candidates', :action => 'vote', :id => candidate.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
