<p id="notice"><%= notice %></p>

<h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
<h2>Running on the <%= link_to @candidate.party.name, @candidate.party %> ticket</h2>

<%
  votes = Vote.where(:candidate_id => @candidate.id).count
  totalvotes = Vote.count
%>
<% if totalvotes > 1 %>
  <p>How many votes ya got?
    <%= votes %>
  </p>
  <p>So what percentage of the total is that?
    <%= (votes.to_f / totalvotes * 100).floor %>% (out of <%= totalvotes %> votes to date)
  </p>
<% end %>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back to Candidates', candidates_path %> | 
<%= link_to 'Current Results', results_path %>
